body{
    background-color: rgb(120, 173, 180);
    font-style: oblique;
    }
    
    h1{
        color: rgb(43, 92, 226);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h4{
        color: darkgoldenrod;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    